:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --padding-side:140px;
}

body{
    background: #E0E1DF;
    padding: 40px;
}

#main{
    color: #E0E1DF;
}

.navbar{
    padding: 10px 40px;
    position: fixed;
    background: #E0E1DF;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    opacity: 1;
    transition: opacity 1s linear, top 1s linear;
}

.tree{
    margin-left: auto;
    margin-right: auto;
}

.menu{
    font-size: 32px;
    padding-left: 30px;
}

.heading{
    margin-top: 113px;
    font-size: 75px;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid #53624E;
    margin-bottom: 40px;
}

.heading div{
    border-top: 1px solid #53624E;
    padding: 20px;
    font-size: 7vw;
}

.heading div span{
    text-transform: lowercase;
    font-style: italic;
}

.reserve_button,
.reservations{
    font-size: 14px;
}

.reserve_button{
    position: relative;
    text-transform: uppercase;
    color: #E0E1DF;
    padding: 20px 30px;
    display: inline-block;
    border: 1px solid #53624E;
    transition: color 0.5s;
}

.reserve_bg{
    background: #E0E1DF;
    position: absolute;
    height:100%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    transition: height 0.5s;
}

.reserve_button:hover .reserve_bg{
    height: 0;
}

.reserve_button:hover{
    color: #53624E;
}

.reservations ul li{
    padding: 30px;
    border: 1px solid #53624E;
    text-align: center;
    position: relative;
}

.reservations ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 40px;
}

.calandar{
    padding: 50px;
    opacity: 0;
    background: #E0E1DF;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200%;
    z-index: 1;
    transition:opacity 0.5s linear;
}

.calander.active{
    opacity: 1;
}

.inner_grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: fit-content;
    margin: auto;
}

.inner_grid .square{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner_grid .square.disabled{
    opacity: 0.5;
}
img{
    width: 100%;
}

@media(max-width: 860px){

    :root{
        --padding-side: 40px;
    }
    .tree{
        visibility: hidden;
    }

    .reservations{
        display: none;
    }

    .heading div{
        font-size: 8vw;
    }
}