
#body{
    background: color whitesmoke;
    font-family: 'Playfair Display', serif;
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.topheader{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 65px;
    background-color: whitesmoke;
    border-bottom: 1px solid grey;
    flex: 100%;
    margin: 0%;
    font-family: 'Source Sans Pro', sans-serif;
}  

.title{
    padding: 20px;
}
.navbar{
    flex: 100%;
    text-align: center;
    text-align-last: right;  
    font-size: 16px;
    font-family:sans-serif;
    padding: 10;
    font-family: 'Source Sans Pro', sans-serif;
}

div.navtools{ 
    flex: 100%;
    width: auto;
    margin-left: auto;
    text-align-last: right;
    font-size: 16px;
    font-family:sans-serif;
    padding-right: 20px;
}

.facts{
    margin-top: 5%;
    border-bottom: 1px solid grey;
    border-radius: 1px solid grey;
}
/* front page  grid*/
.front{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}

.vid{
    grid-column: 1 / 3;
    grid-row: 1 /5;
    padding-right: 20px;
}
.vid video{
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    overflow: hidden;
   
}

img.heroImg{ 
    grid-row: 1 / 3;
    grid-column: 3 / 5;
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    overflow: hidden;  
}

.paragraphText{
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}

.linktext{
    grid-column: 4 / 5;
    grid-row: 4 / 5;
}

.glasses{
    width: 33%;
    height: 33%;
}

/* glasses showcase*/
.showcase{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr  ;
    grid-template-rows: 1fr 1fr;
    border-bottom: 1px solid grey;
    grid-gap: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}

.glassesText{
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
}

.glasses{
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
}

/* video banner*/

.speculator{
    border-bottom: 1px solid grey;
    font-family: 'Source Sans Pro', sans-serif;
}
.bigVid{
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding-top: 10px; 
}

.specText{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  ;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    padding-bottom: 10px;
    padding-top: 10px; 
}

/* murch */

.murch{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr  ;
    grid-template-rows: 1fr 1fr;
    border-bottom: 1px solid grey;
    grid-gap: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}

.cloth{
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
}
.bespoke{
    grid-row: 1 / 3;
    grid-column: 3 / 5;
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
}

/* second glasses showcase*/

.showcase2{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr  ;
    grid-template-rows: 1fr 1fr;
    border-bottom: 1px solid grey;
    grid-gap: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}

.glassesText2{
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
}

.glasses2{
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
}

/* cubbitts journal section */

.cubbittsJournal{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr  ;
    grid-template-rows: 1fr 1fr;
    border-bottom: 1px solid grey;
    grid-gap: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}

.painter{
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
}
.eyeball{
    grid-row: 1 / 3;
    grid-column: 3 / 5;
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
}

/* eyefact section*/

.eyeFact{
    height:600px;
    border-bottom: 1px solid grey;
    font-family: 'Source Sans Pro', sans-serif;
}

/* end the final part*/

.end{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}

.storeFront{
    grid-column: 1 / 3;
    grid-row: 1 /5;
    max-width: 100%;
    max-height: 100%;
    padding-right: 20px;
    object-fit: fill;
    overflow:hidden;
}

.desk{
    grid-row: 1 / 3;
    grid-column: 3 / 5;
    max-width: 100%;
    max-height: 100%;
    padding-left: 20px;
    object-fit: fill;
    overflow: hidden;  
}

/*footer*/
.footerStyle{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: grey;
    font-family: 'Source Sans Pro', sans-serif;
}

.copyright{
    grid-column: 1 / 2;
}

img.copyright{
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
}

.contacts{
    grid-column: 2 / 3;
}
.newsletter{
    grid-column: 2 / 3;
}

.shipping{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.details{
    grid-column: 4 / 5;
}