<div class="showcase">
    <div class="glassesText">
        <h1><%= text %></h1>
        <a href="">Browse sunglasses</a>
    </div>

        <img class = "glasses" src="" name = "img">
        <img class = "glasses" src="" alt="">
        <img class = "glasses" src="" alt="">
        <img class = "glasses" src="" alt="">
</div>

